# Django
DEBUG=true
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=simulador_examenes
DB_USER=simulador
DB_PASSWORD=simulador_secret
DB_HOST=localhost
DB_PORT=2086
